In [51]:
import pandas as pd
import numpy as np

#### Load Titanic Data

In [52]:
df_titanic = pd.read_csv('./train.csv')

In [53]:
###

In [54]:
y = df_titanic['Survived']

In [55]:
X = df_titanic.drop(['Survived','Name','PassengerId','Cabin','Ticket'],axis=1)

In [56]:
X = pd.get_dummies(X)

In [60]:
X

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,3,22.0,1,0,7.2500,0,1,0,0,1
1,1,38.0,1,0,71.2833,1,0,1,0,0
2,3,26.0,0,0,7.9250,1,0,0,0,1
3,1,35.0,1,0,53.1000,1,0,0,0,1
4,3,35.0,0,0,8.0500,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...
886,2,27.0,0,0,13.0000,0,1,0,0,1
887,1,19.0,0,0,30.0000,1,0,0,0,1
888,3,19.0,1,2,23.4500,1,0,0,0,1
889,1,26.0,0,0,30.0000,0,1,1,0,0
890,3,32.0,0,0,7.7500,0,1,0,1,0

In [61]:
X = X.dropna(axis=1,how='all')

In [62]:
X['Age'] = X['Age'].fillna(method = 'ffill')

In [63]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [64]:
# split X and y into training and testing sets
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0,stratify=y)

In [65]:
# import the class
from sklearn.linear_model import LogisticRegression

# instantiate the model (using the default parameters)
logreg = LogisticRegression()

# fit the model with data
logreg.fit(X_train,y_train)

#
y_pred=logreg.predict(X_test)

C:\Users\Arunabh\miniconda3\envs\tensorflow\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [66]:
# import the metrics class
from sklearn import metrics
cnf_matrix = metrics.confusion_matrix(y_test, y_pred)
cnf_matrix

array([[119,  18],
       [ 32,  54]], dtype=int64)

In [73]:
from sklearn.metrics import accuracy_score,precision_score,recall_score, f1_score

In [68]:
accuracy_score(y_test,y_pred)

0.7757847533632287

In [71]:
precision_score(y_test,y_pred)

0.75

In [72]:
recall_score(y_test,y_pred)

0.627906976744186

In [74]:
f1_score(y_test,y_pred)

0.6835443037974683